body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.quote-display {
  margin-top: 50px;
}

#quoteText {
  font-size: 20px;
}

.timer {
  font-size: 18px;
}

.red-text {
  color: red;
}

.green-text {
  color: green;
}
